html {
    background: #379ACE;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 7pt;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  1;
   font-size: 7pt;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  1;
   font-size: 7pt;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 7pt;

#hiddenPic {
  background: url(assets/preloader1.gif);
  background-repeat:no-repeat;
  background-position: center; 
  border-radius: 5pt;
}

   


