html {
    height: 100%;
    background: #379ACE;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 7pt;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  1;
   font-size: 7pt;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  1;
   font-size: 7pt;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 7pt;
   
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
   
   


